<div id="<%= dom_id patient %>">
  <div>
    <strong>Age:</strong>
    <%= patient.age %>
  </div>

  <div>
    <strong>Gender:</strong>
    <%= patient.gender %>
  </div>

  <div>
    <strong>Education level:</strong>
    <%= patient.education_level %>
  </div>

  <div>
    <strong>Medical history:</strong>
    <%= patient.medical_history %>
  </div>

  <div>
    <strong>Diet:</strong>
    <%= patient.diet %>
  </div>

  <div>
    <strong>Current treatment:</strong>
    <%= patient.current_treatment %>
  </div>

</div>
