<div id="<%= dom_id case_study %>">
  <div>
    <strong>Title:</strong>
    <%= case_study.title %>
  </div>

  <div>
    <strong>Developmental acquired:</strong>
    <%= case_study.developmental_acquired %>
  </div>

  <div>
    <strong>Date submitted:</strong>
    <%= case_study.date_submitted %>
  </div>

  <div>
    <strong>Date reviewed:</strong>
    <%= case_study.date_reviewed %>
  </div>

  <div>
    <strong>Last updated:</strong>
    <%= case_study.last_updated %>
  </div>

  <div>
    <strong>Case summary statement:</strong>
    <%= case_study.case_summary_statement %>
  </div>

  <div>
    <strong>Backgroundinfo subjective pastmedicalhistory:</strong>
    <%= case_study.backgroundinfo_subjective_pastmedicalhistory %>
  </div>

  <div>
    <strong>Tools tests assessments skills evaluationsummary:</strong>
    <%= case_study.tools_tests_assessments_skills_evaluationsummary %>
  </div>

  <div>
    <strong>Objectives observations:</strong>
    <%= case_study.objectives_observations %>
  </div>

  <div>
    <strong>Diagnostic statement:</strong>
    <%= case_study.diagnostic_statement %>
  </div>

  <div>
    <strong>Recommendations plan:</strong>
    <%= case_study.recommendations_plan %>
  </div>

  <div>
    <strong>Patient:</strong>
    <%= case_study.patient_id %>
  </div>

</div>
